.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #FFF;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,201,221,1) 35%, rgba(220,223,230,1) 100%); 
}

.lateral{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 25%;
    text-align: center;
    background-color: #0ca89b;  
    color: #FFF;
    border: 1px solid #000;
    border-right: 0;
}

.centro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
    text-align: center;
    border: 1px solid #000;
    border-left: 0;
    background-color: #FFF;
}

@media(max-width: 2560px){
    .lateral{
        flex-basis: 10%;
    }
    .centro{
        flex-basis: 30%;
    }
}

@media(max-width: 1920px){
    .lateral{
        flex-basis: 20%;
    }
    .centro{
        flex-basis: 40%;
    }
}

@media(max-width: 1440px){
    .lateral{
        flex-basis: 25%;
    }
    .centro{
        flex-basis: 50%;
    }
}

@media(max-width: 1024px){
    .lateral{
        flex-basis: 30%;
    }
    .centro{
        flex-basis: 60%;
    }
}

