/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: 'rubik';
  src: url('assets/fonts/Rubik-VariableFont_wght.ttf');
}

html, body {
    height: 100vh;
    margin: 0;
    font-family: 'rubik';
}
